<div class="container p-4 mx-auto">
  <h2 class="mb-6 text-2xl font-bold">My Wish List</h2>

  <div *if="wishList().length > 0; else emptyWishlist">
    <div class="grid gap-6 md:grid-cols-2">
      @for (prod of wishList(); track prod._id) {
        <div class="flex items-center pb-4 border-b">

          <img [src]="prod.imageCover" alt="{{ prod.title }}" class="object-cover w-24 h-24 rounded-md shadow-md" />

          <div class="flex-1 ml-4">
            <h3 class="text-lg font-medium">{{ prod.title }}</h3>
            <p class="text-gray-600">{{ prod.price }} EGP</p>


            <button (click)="toggleWishlist(prod)" class="flex items-center mt-2 text-red-500">
              <i class="mr-2 fas fa-trash-alt"></i> Remove
            </button>
          </div>


          <button class="px-4 py-2 ml-auto text-green-700 transition border border-green-500 rounded-md hover:bg-green-500 hover:text-white">
            add To Cart
          </button>
        </div>
      }
    </div>
  </div>


  <ng-template #emptyWishlist>
    <p class="text-lg text-center text-gray-500">Your wishlist is empty.</p>
  </ng-template>
</div>
